body{
    background-image: linear-gradient( rgb(81, 16, 11), rgb(75, 75, 75), rgb(167, 164, 164));
}

h1.title{
    text-align: center;
    color: rgb(77, 24, 24);
    font-family: Andale Mono, monospace;
    background-color: antiquewhite;
    margin-top: 40px;
    height: 50px;
}

div.gamebox{
    margin: auto;
    
}

.leftpic{
    height: 504px;
}

.description{
    font-size: 20px;
    border: 5px solid rgba(241, 121, 66, 0.651);
    padding: 20px;
    width: 655px;
    margin-left: 410px;
}
