h1.title{
    text-align: center;
    color: rgb(77, 24, 24);
    font-family: Andale Mono, monospace;
    background-color: antiquewhite;
    margin-top: 40px;
    height: 50px;
}

div.gamebox{
    margin: auto;
}